@keyframes rightDoorAnimation{
    0% {left: 0; filter:drop-shadow(0 0 0 white);}
    80%{opacity:1; }
    100% {left: 50%; }
  }
  @keyframes leftDoorAnimation{
    0% {left: 0; filter:drop-shadow(0 0 0 white);}
    80%{opacity:1; }
    100% {left: -50%; }
  }
  @keyframes backgroundAnimation{
    from {background-position: 50% 0%;}
    to {background-position: 50% 50%; opacity:0;}
  }
   @keyframes doorDissapearing{
    from{opacity:1;}
    to{opacity:0;}
  } 
  
   #doorContainer{
    animation-name: doorDissapearing;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    z-index:2;
    position:relative;
  } 
  
  #rightDoor{
    position :absolute; 
    /*left: -20vw;*/ 
    z-index:2;
     min-width: 100vw; 
     min-height: 100vh;
     max-height: 100vh !important;
     
     animation-name: rightDoorAnimation;
     animation-delay: .5s;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode:forwards;
  
  }
  
  #leftDoor{
    position :absolute; 
    /*left: -20vw;*/ 
    z-index:2;
     min-width: 100vw; 
     min-height: 100vh;
     max-height: 100vh !important;
  
     animation-name: leftDoorAnimation;
     animation-delay: .5s;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode:forwards;
  }
  
  
  
  #doorBackground{
    background: radial-gradient( white 30%,black 70%); 
    width: 100vw; 
    height: 100vh; 
    position: absolute;
     z-index: 1;
     animation-name: backgroundAnimation;
     animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode:forwards;
    background-size: 1600% 1600%;
  
  }
  
  
/* ********************************************************************************************** background ************************************************************************** */
  
  
        html{
           overflow: hidden; 
        }
        
      #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    filter: grayscale(100%) blur(6px);
  }
  
  #overlay:before {
    content: '';
    position: fixed;
    background: rgba(5, 68, 173, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    min-width:100vw;
    min-height:100vh;
  }
  
  /* .content {
    position: fixed;
  } */

/* ********************************************************************************************** MAIN CONTAINER ************************************************************************** */


  #mainContainer {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 10vh auto auto;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    /* background-color: springgreen; */
  }

/* ********************************************************************************************** NAV BAR ************************************************************************** */



#navBar2{
  visibility: hidden;
  z-index: 3;
}

#navBar2 {
  grid-column: 1 / 5;
  display: grid;
  position: relative;
  grid-template-columns: 30vw auto 12vw;
  grid-template-rows: 10vh;
  background-color: rgba(0, 0, 0, 0.8);
}

#mobileTitle {
  text-shadow: 0 0 8px #03dbfc;
  font-family: haloFont;
  font-size: 3.8vw;
  color: white;
  margin:0;
  padding:1vw;
}
.navItems {
  display: grid;
  justify-content: center;
  align-content: center;
}

#hamburgerButton span{
  display:block;
  width:30px;
  height:4px;
  margin-bottom:4px;
  position: relative;
  background: white;
  
}

/* ******************************************************************************************* NAV BAR LIST **************************************************************** */

#listContainer {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  width: 100vw;
  height: 90vh ;
  position: absolute; 
  display: grid ;
  grid-template-columns: 20vw auto;
  grid-template-rows: 100%;
  z-index: 3; 
}

#listContainer{
  display:none;
} 

#listMenu{
  background-color: rgba(0, 0, 0, 0.9);
  height: 60%;

}
#optionsList{
  height:100%;
  display:grid;
  grid-template-rows: repeat(4 ,25%);
}


li {
  display:grid;
  align-content: center;
  list-style-type: none;
  list-style-position: inside;
  padding: 3vw;
}




.listItems:hover{
  background-image: linear-gradient(to right,rgba(255, 149, 36, 1)1% , rgba(0,0,0,0) 99%);
  color:white;
  border-top: 1px solid rgb(255, 149, 36);
  border-bottom: 1px solid rgb(255, 149, 36);
  cursor:pointer;
}

.listItems:hover a{
  text-decoration: none;
  color:white;
  
}
.listItems{
  padding:auto;
  border-top: 1px solid rgb(255, 149, 36);
  border-bottom: 1px solid rgb(255, 149, 36);
  cursor:pointer;
}
.listItems a{
  color: #62c9fc;
  font-size: 3vh;

}

/* ******************************************************************************************* Project section **************************************************************** */

  
@keyframes biggerThumbnail{
  from{ transform: scale(1) ;  }
  to{ transform: scale(1.1) ;}
}
@keyframes smallerThumbnail{
  from{ transform: scale(1.1) ;}
  to{ transform: scale(1) ;}
}
@keyframes overlayAppearing{
  from{opacity:0; height:0%; min-height:0%;}
  to{opacity:1; height:100%; min-height:100%; }
  /* to   box-shadow: 16px 16px 14px rgba(0,0,0, 0.5); */
}
@keyframes overlayDisappearing{
  from{opacity:1; height:100%; min-height:100%;}
  to{opacity:0; height:0%; min-height:0%}
}

.thumbnailProjet{
  animation-name: smallerThumbnail;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  box-shadow: 6px 6px 5px rgba(0,0,0, 0.5);

}

.thumbnailProjet:hover{
  animation-name: biggerThumbnail;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  cursor:pointer;
}

.thumbnailProjet .overlaySection{
  animation-name: overlayDisappearing;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  cursor:pointer;
}
.thumbnailProjet:hover .overlaySection{
  animation-name: overlayAppearing;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  cursor:pointer;
}

.thumbnailProjet:hover .projectOverlay{
  animation-name: overlayAppearing;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  cursor:pointer;
}

.projectOverlay{
  left:0;
  right:0;
   top:0;
    bottom:0; 
    width:100%; 
    height:100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute; 
    opacity:0; 
    display:grid;
    grid-template-rows: 1fr 3fr 1fr ; /*add 0.3fr for html css and js description*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'title title title title'
    'testProject testProject gitHub gitHub'
     ;
     grid-gap:3px;
    

  animation-name: overlayDisappearing;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  cursor:pointer;
}

.miniTitle{
grid-area: title;
}
 .testButtona{
  grid-area: testProject;
}
 .gitHub{
  grid-area: gitHub;
}  



/* .testButton{
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255, 149, 36, 1), rgba(0,0,0,0)) ;
     color:white;
      margin-top: -1px;
       margin-bottom: -1px;
        border-top: 1px solid rgb(255, 149, 36);
         border-bottom: 1px solid rgb(255, 149, 36);
          width: 40%;
} */

.projectsTestButton{
  color: white;
  transform: skew(-30deg) translate(-5px, -5px);
  width:60%;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid rgb(255, 149, 36) 2px;
  color: #03dbfc;
  text-align:center;
  font-size: 1vw;
  
  animation-name: notHoveredTestButton;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.underTestButton{

  color: #62c9fc;
  transform: skew(-30deg);
  width:60%;
  background-color: transparent;
  border: solid rgb(255, 149, 36) 2px;
  font-size: 1vw;

}

.projectsTestButton:hover{
  animation-name: hoveredTestButton;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

/*     git */
.projectsGitButton{
  color: white;
  transform: translate(5px, -5px) skew(30deg);
  width:60%;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid rgb(255, 149, 36) 2px;
  color: #03dbfc;
  text-align:center;
  font-size: 1vw;
  
  animation-name: notHoveredGitButton;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}



.underGitButton{

  color: #62c9fc;
  transform: skew(30deg);
  width:60%;
  background-color: transparent;
  border: solid rgb(255, 149, 36) 2px;
  font-size: 1vw;

}

.projectsGitButton:hover{
   animation-name: hoveredGitButton;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease; 
}

 @keyframes hoveredGitButton {
  from{transform: translate(5px, -5px) skew(30deg);}
  to{transform: translate(0px, 0px) skew(30deg);   box-shadow : 0 0 12px #03dbfc; }
}
 @keyframes notHoveredGitButton {
  from{transform: translate(0px, 0px) skew(30deg);   box-shadow : 0 0 12px #03dbfc;}
  to{transform: translate(5px, -5px) skew(30deg);   box-shadow : none;}
}  

@keyframes hoveredTestButton {
  from{transform: translate(-5px, -5px) skew(-30deg);}
  to{transform: translate(0px, 0px) skew(-30deg);   box-shadow : 0 0 12px #03dbfc; }
}
 @keyframes notHoveredTestButton {
  from{transform: translate(0px, 0px) skew(-30deg);   box-shadow : 0 0 12px #03dbfc;}
  to{transform: translate(-5px, -5px) skew(-30deg);   box-shadow : none;}
}  



.overlaySection{
  /* background-color: peachpuff; */
}
.languagesUsed{
  font-size: 1.5vh;
}



/* ******************************************************************************************* ----------- **************************************************************** */




/*   
  .columnContent{
    background: rgba(0,0,0, 0.8);
    background-image: linear-gradient(to right,rgba(0,0,0, 0.5) , rgba(0,0,0,0));
  } */



  
  
  .buttonDiv:hover{
    background-image: linear-gradient(to right,rgba(255, 149, 36, 1)1% , rgba(0,0,0,0) 99%);
    color:white;
    margin-top: -1px;
    margin-bottom: -1px;
    border-top: 1px solid rgb(255, 149, 36);
    border-bottom: 1px solid rgb(255, 149, 36);
    cursor:pointer;
  }
  
  
  
  @font-face{
    font-family: "haloFont";
    src: url(halo3.regular.ttf) format("woff"),
    url(halo3.regular.ttf) format("truetype");
  }
  
 
  
  

  
  @keyframes blinkingBorder{
    from{border-right: 2px solid rgba(255,255,255,.75);}
    to{border-right: 2px solid transparent;}
  }
  
  #blinkingBorder{
    animation-name: blinkingBorder;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  


  /* rgba(5, 68, 173, 0.5);*/







 @media screen and (max-width: 991.98px) {

    html{
        /* overflow: visible !important; */
        
    }
    #navBar2{
        visibility: visible
    }
     #listContainer{
        display:none;
        height: 0;
    } 

    /* .projetThumbnailMain{
        padding: 15% !important;
    } */
    #pcElements{
        display:none;
    }
  }



