:root{
  
}

@keyframes rightDoorAnimation{
    0% {left: 0; filter:drop-shadow(0 0 0 white);}
    80%{opacity:1; }
    100% {left: 50%; }
  }
  @keyframes leftDoorAnimation{
    0% {left: 0; filter:drop-shadow(0 0 0 white);}
    80%{opacity:1; }
    100% {left: -50%; }
  }
  @keyframes backgroundAnimation{
    from {background-position: 50% 0%;}
    to {background-position: 50% 50%; opacity:0;}
  }
   @keyframes doorDissapearing{
    from{opacity:1;}
    to{opacity:0;}
  } 
  
   #doorContainer{
    animation-name: doorDissapearing;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    z-index:2;
    position:relative;
  } 
  
  #rightDoor{
    position :absolute; 
    /*left: -20vw;*/ 
    z-index:2;
     min-width: 100vw; 
     min-height: 100vh;
     max-height: 100vh !important;
     
     animation-name: rightDoorAnimation;
     animation-delay: .5s;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode:forwards;
  
  }
  
  #leftDoor{
    position :absolute; 
    /*left: -20vw;*/ 
    z-index:2;
     min-width: 100vw; 
     min-height: 100vh;
     max-height: 100vh !important;
  
     animation-name: leftDoorAnimation;
     animation-delay: .5s;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode:forwards;
  }
  
  
  
  #doorBackground{
    background: radial-gradient( white 30%,black 70%); 
    width: 100vw; 
    height: 100vh; 
    position: absolute;
     z-index: 1;
     animation-name: backgroundAnimation;
     animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode:forwards;
    background-size: 1600% 1600%;
  
  }
  
  
/* ********************************************************************************************** background ************************************************************************** */
  
  
        html{
           /* overflow: hidden;  */
        }
        
      #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    filter: grayscale(100%) blur(6px);
  }
  
  #overlay:before {
    content: '';
    position: fixed;
    background: rgba(5, 68, 173, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    min-width:100vw;
    max-width: 100vw;
    min-height:100vh;
  }
  
  /* .content {
    position: fixed;
  } */

/* ********************************************************************************************** MAIN CONTAINER ************************************************************************** */


  #mainContainer {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 10vh auto auto;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    /* background-color: springgreen; */
  }

/* ********************************************************************************************** NAV BAR ************************************************************************** */



#navBar2{
  visibility: hidden;
  z-index: 3;
}

#navBar2 {
  grid-column: 1 / 5;
  display: grid;
  position: relative;
  grid-template-columns: 30vw auto 12vw;
  grid-template-rows: 10vh;
  background-color: rgba(0, 0, 0, 0.8);
}

#mobileTitle {
  text-shadow: 0 0 8px #03dbfc;
  font-family: haloFont;
  font-size: 3.8vw;
  color: white;
  margin:0;
  padding:1vw;
}
.navItems {
  display: grid;
  justify-content: center;
  align-content: center;
}

#hamburgerButton span{
  display:block;
  width:30px;
  height:4px;
  margin-bottom:4px;
  position: relative;
  background: white;
  
}

/* ******************************************************************************************* NAV BAR LIST **************************************************************** */

#listContainer {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  width: 100vw;
  height: 90vh ;
  position: absolute; 
  display: grid ;
  grid-template-columns: 20vw auto;
  grid-template-rows: 100%;
  z-index: 3; 
}

#listContainer{
  display:none;
} 

#listMenu{
  background-color: rgba(0, 0, 0, 0.9);
  height: 60%;

}
#optionsList{
  height:100%;
  display:grid;
  grid-template-rows: repeat(4 ,25%);
}


li {
  display:grid;
  align-content: center;
  list-style-type: none;
  list-style-position: inside;
  padding: 3vw;
}




.listItems:hover{
  background-image: linear-gradient(to right,rgba(255, 149, 36, 1)1% , rgba(0,0,0,0) 99%);
  color:white;
  border-top: 1px solid rgb(255, 149, 36);
  border-bottom: 1px solid rgb(255, 149, 36);
  cursor:pointer;
}

.listItems:hover a{
  text-decoration: none;
  color:white;
  
}
.listItems{
  padding:auto;
  border-top: 1px solid rgb(255, 149, 36);
  border-bottom: 1px solid rgb(255, 149, 36);
  cursor:pointer;
}
.listItems a{
  color: #62c9fc;
  font-size: 3vh;

}

/* ******************************************************************************************* Project section **************************************************************** */

  
@keyframes biggerThumbnail{
  from{ transform: scale(1) ;  }
  to{ transform: scale(1.1) ;}
}
@keyframes smallerThumbnail{
  from{ transform: scale(1.1) ;}
  to{ transform: scale(1) ;}
}
@keyframes overlayAppearing{
  from{opacity:0; height:0%; min-height:0%;}
  to{opacity:1; height:100%; min-height:100%; }
  /* to   box-shadow: 16px 16px 14px rgba(0,0,0, 0.5); */
}
@keyframes overlayDisappearing{
  from{opacity:1; height:100%; min-height:100%;}
  to{opacity:0; height:0%; min-height:0%}
}

.thumbnailProjet{
  animation-name: smallerThumbnail;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  box-shadow: 6px 6px 5px rgba(0,0,0, 0.5);

}

.thumbnailProjet:hover{
  animation-name: biggerThumbnail;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  cursor:pointer;
}

.thumbnailProjet .overlaySection{
  animation-name: overlayDisappearing;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  cursor:pointer;
}
.thumbnailProjet:hover .overlaySection{
  animation-name: overlayAppearing;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  cursor:pointer;
}

.thumbnailProjet:hover .projectOverlay{
  animation-name: overlayAppearing;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  cursor:pointer;
}

.projectOverlay{
  left:0;
  right:0;
   top:0;
    bottom:0; 
    width:100%; 
    height:100%; 
    background-color: rgba(0, 0, 0, 0.7); 
    position: absolute; 
    opacity:0; 
    display:grid;
    grid-template-rows: 1fr 3fr 1fr ; /*add 0.3fr for html css and js description*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'title title title title'
    'testProject testProject gitHub gitHub'
     ;
     grid-gap:3px;
     font-family: 'Orbitron', sans-serif;
    

  animation-name: overlayDisappearing;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  cursor:pointer;
}

.overlayTitleContainer{
grid-area: title;
text-align: center;
}

.gitBtnSection{
  grid-area: gitHub;
}  

.overlayTitle{
  text-shadow: 0 0 8px #03dbfc;
   font-family: haloFont; 
   color: white; 
   background:black; 
   border-bottom:rgb(255, 149, 36) solid 2px; 
   font-size: 1.8rem;
}
 .demoBtnSection{
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
  grid-area: testProject;
}

.underDemoBtn{

  color: #62c9fc;
  transform: skew(-30deg);
  width:60%;
  background-color: transparent;
  border: solid #62c9fc 2px;
  font-size: 1vw;
  position: relative;
}

.underDemoBtnText{
  transform: skew(30deg);
  opacity: 0;
  margin:auto;
  padding:5%;
  font-size: 1.8vh;
}


.projectsDemoBtn{
  color: white;
  transform: skew(-30deg) translate(-5px, -5px);
  width:60%;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid rgb(255, 149, 36) 2px;
  color: #03dbfc;
  text-align:center;
  font-size: 1vw;
  position: absolute;
  
  animation-name: notHoveredDemoButton;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.projectsDemoBtn:hover{
  animation-name: hoveredDemoButton;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.DemoBtnText{
  transform: skew(30deg);
  padding:5%;
  margin:auto;
  padding:5%;
  font-size: 1.8vh;
}

/*    -------------------------------------------------------------------------------------------------------- GIT --------------------------------------------------------------------------------  */
.projectsGitBtn{
  color: white;
  transform: translate(5px, -5px) skew(30deg);
  width:60%;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid rgb(255, 149, 36) 2px;
  color: #03dbfc;
  text-align:center;
  font-size: 1vw;
  position: absolute;
  
  animation-name: notHoveredGitButton;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}


.underGitBtn{

  color: #62c9fc;
  transform: skew(30deg);
  width:60%;
  background-color: transparent;
  border: solid #62c9fc 2px;
  font-size: 1vw;
  position: relative;

}

.underGitBtnText{
  opacity: 0;
  transform: skew(-30deg);
  margin:auto;
  padding:5%; 
  font-size: 1.8vh;
}

.gitBtnText{
  transform: skew(-30deg);
  margin:auto;
  padding:5%;
  font-size: 1.8vh;
}


.projectsGitBtn:hover{
   animation-name: hoveredGitButton;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease; 
}

.overlayFooterElement{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #03dbfc;
}

 @keyframes hoveredGitButton {
  from{transform: translate(5px, -5px) skew(30deg); color: #62c9fc;}
  to{transform: translate(0px, 0px) skew(30deg);   box-shadow : 0 0 12px #03dbfc; color: white;}
}
 @keyframes notHoveredGitButton {
  from{transform: translate(0px, 0px) skew(30deg);   box-shadow : 0 0 12px #03dbfc; color: white;}
  to{transform: translate(5px, -5px) skew(30deg);   box-shadow : none; color: #62c9fc}
}  

@keyframes hoveredDemoButton {
  from{transform: translate(-5px, -5px) skew(-30deg); color: #62c9fc;}
  to{transform: translate(0px, 0px) skew(-30deg);   box-shadow : 0 0 12px #03dbfc; color: white; }
}
 @keyframes notHoveredDemoButton {
  from{transform: translate(0px, 0px) skew(-30deg);   box-shadow : 0 0 12px #03dbfc; color: white;}
  to{transform: translate(-5px, -5px) skew(-30deg);   box-shadow : none; color: #62c9fc;}
}  



.overlaySection{
  /* background-color: peachpuff; */
}
.languagesUsed{
  font-size: 1.5vh;
}



/* ******************************************************************************************* About Me section **************************************************************** */


#aboutMeContainer{
  display:grid; 
  grid-template-rows: 45vh;
  grid-template-columns: repeat(2, 1fr);
}

#aboutMeImageContainer{
  position:relative;
  overflow: hidden; 
  grid-row: 1/3;
grid-column: 1/2;

display:flex; 
justify-content: center;

border: 5px solid black;
border-bottom: 20px solid black;
border-radius: 10px;
border-bottom-left-radius: 50% 2%; 
border-bottom-right-radius: 50% 2%; 
margin:5%;
}

#aboutMeImage{
  align-self: flex-end;
  
  height: auto;
  width: 80%;
  transform: translateY(1%);
   object-fit:cover;  
}

/* #aboutMeImage{
  
  background-image: url("image/tomblue.png");
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100%;

} */


  #noisyScreen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    background-size: cover;
    background-position: center;
    opacity: 0.8;

    animation: animateBackground .1s infinite linear;
  }

  #noisyScreenBackground{
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: lightblue;
    opacity: 0.4;
  }

  @keyframes animateBackground{
    0%{background-image: url('image/noise1.png');}
    40%{background-position: 1px;}
    60%{background-position: center;}
    100%{background-image: url('image/noise2.png');}
  }

  #aboutMeTearingEffect{
    background-image: radial-gradient( transparent,  white);
    filter: blur(3px);
    width: 100%;
    height: 10%;
    position:absolute;
    z-index: 2;
    animation: glitch 2s infinite linear;
    overflow:hidden;
    /* box-shadow: 3px 3px 6px black; */
  }







  @keyframes glitch{
      0%{top: 0%; }
      20%{top: 20%;}
       40%{top: 40%; }
      60%{top: 60%; }
      80%{top: 80%; }
      100%{top: 100%;} 
  }




  #aboutMeTextSection{
    padding: 5%;
  }

#aboutMeTextContainer{
grid-row: 1/2;
grid-column: 2/3;

display:grid;
grid-template-rows: 0.3fr 1fr;
grid-template-columns: 1fr;

padding: 5%;
display:inline-block;
min-width: 100%;
height:100%;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.4) 80%);

}

#aboutMeTitleContainer{
  display:flex; 
  align-items: stretch;
}

#aboutMeTitle{
  font-family: orbitron; 
  color: #03dbfc;
  width: 100%;
  border-bottom: 2px solid rgb(255, 149, 36);
  padding-bottom: 5px;
}

#aboutMeText{
  font-family: orbitron;
  letter-spacing: 0.2px;
}

#blackScreen{
  z-index: 3;
  background-color: black;
  position: absolute;
  min-width: 100%;
  min-height: 100%;  
  display:flex; 
  justify-content: center;
  align-items: center;

  animation-delay: 0.5s;
  animation: screenOpening 1s forwards linear;

}

#whiteScreenEffect{
  background-color: white; 
  position: absolute; 
  
  animation-delay: 0.5s;
  animation: screenOpening 1s forwards linear;
}

@keyframes screenOpening{
  
  0%{width:10%; height: 2px;}
  20%{width:100%; height: 2px;}
  50%{width:100%; height: 100%; opacity:1;}
  98%{width:100%; height: 100%;}
  100%{width:100%; height: 100%; opacity:0;}
}




/* ******************************************************************************************* Reste **************************************************************** */




  
  
  .buttonDiv:hover{
    background-image: linear-gradient(to right,rgba(255, 149, 36, 1)1% , rgba(0,0,0,0) 99%);
    color:white;
    margin-top: -1px;
    margin-bottom: -1px;
    border-top: 1px solid rgb(255, 149, 36);
    border-bottom: 1px solid rgb(255, 149, 36);
    cursor:pointer;
  }
  
  
  
  @font-face{
    font-family: "haloFont";
    src: url(halo3.regular.ttf) format("woff"),
    url(halo3.regular.ttf) format("truetype");
  }
  
 
  
  

  
  @keyframes blinkingBorder{
    from{border-right: 2px solid rgba(255,255,255,.75);}
    to{border-right: 2px solid transparent;}
  }
  
  #aboutMeText{

    color:white;
    display:inline;

    animation-name: blinkingBorder;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    display:inline;
  }

  


  /* rgba(5, 68, 173, 0.5);*/







 @media screen and (max-width: 991.98px) {

    html{
        overflow: visible !important;
        
    }
    #navBar2{
        visibility: visible
    }
     #listContainer{
        display:none;
        height: 0;
    } 

    /* .projetThumbnailMain{
        padding: 15% !important;
    } */
    #pcElements{
        display:none;
    }
  }


.color{
   background-color: peachpuff; 
}


/* ************************************************************************************************* playground ************************************************************************************* */


